// import variables file
@use "variables" as *; 
/*! start landing */
.landing {
    min-height: 100vh;
    min-width: fit-content;
    background-image: url("../imgs/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #010f10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4em;
    padding-right: 4em;
    h2 {
        font-size: 2.2em;
        margin: 0;
        padding: 0;
    }
    p {
        display: flex;
        font-size: 1.2em;
        color: #c1c5c5;
    }
    a {
        color: $sec_color;
        text-decoration: none;
        border: 1px solid $sec_color;
        padding: 5px 25px;
        border-radius: 5px;
        font-size: 1.4em;
    }
}
/*! end landing */